{% extends 'base.html.twig' %}

{% block title %}DayDiscover{% endblock %}

{% block body %}
    <h1>{{ jd.title }}</h1>

    <div class="container">
        <h2>Détails</h2>
        <div>
            <p>À {{ jd.lieu }}, le {{ jd.date|date("d F Y") }}</p>
            <p>Max grimpeur : {{ jd.nbMaxGrimpeurs }}</p>
            <p>Niveau minimum: {{ jd.niveauMinimum.nom }}</p>
            <p>Crée par : {{ jd.organisateur.nom }} {{ jd.organisateur.prenom }}</p>
        </div>
        <div>
            <h3>Souvenirs :</h3>
                {% if app.user == jd.organisateur and date(jd.date) < date() %}
                    {# Insérer le formulaire #}
                    <form action="#" method="post">
                        <label for="img">Ajouter des images</label>
                        <input type="file" id="img" name="img">
                        <button type="submit" class="btn btn-primary btn-sm">Ajouter les images</button>
                    </form>
                {% endif %}
                {% if images is not empty%}
                    {% for image in images %}
                        <img src="{{ asset('img/' ~ image.name) }}" alt="{{ image.name }}">
                    {% endfor %}
                {% else %}
                    <p>Pas encore de souvenirs</p>
                {% endif %}
        </div>
        <br>
        <div>
            <h3>Participants :</h3>
                {% if participants is not empty %}
                    <form class="form-group" action="{{ url('participation.update', {jd: jd.id}) }}" method="post">
                        <ul class="list-group">
                            {% for participant in participants %}
                                <li class="list-group-item">
                                    {{ participant.user.nom }} {{ participant.user.prenom }}
                                    {% if date(jd.date) < date() and app.user == jd.organisateur %}
                                        <div>
                                            <label for="present">Présent :</label>
                                            <input type="checkbox" name="{{ participant.user.id }}"
                                                    {% if participant.present %} checked {% endif %}
                                            >
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        {% if date(jd.date) < date() and app.user == jd.organisateur %}
                            <button type="submit" class="btn btn-primary btn-sm">Enregistrer les modifications</button>
                        {% endif %}
                    </form>
                {% else %}
                    <p>Pas encore de participants</p>
                {% endif %}
        </div>
        <br>
        <div>
            <h3>Commentaires :</h3>
                {% if date(jd.date) < date() %}
                    <a {% if app.user %}
                            href="{{ url('commentaireAdd', {jd_id: jd.id}) }}"
                        {% else %}
                            href="{{ url('app_register') }}"
                        {% endif %}
                        class="btn btn-primary btn-sm">
                        Ajouter un commentaire
                    </a>
                    {% for commment in comments %}
                        <div class="card">
                            <div class="card-body">
                                <p>{{ commment.content }}</p>
                                <p>Écrit par : {{ commment.user.nom }} {{ commment.user.prenom }}</p>
                            </div>
                        </div>
                    {% endfor %}
            {% else %}
                <p>Pas encore de commentaires</p>
            {% endif %}
        </div>
        {% if app.user %}
            {% if app.user == jd.organisateur %}
                {% if date(jd.date) > date() %}
                    <a href="{{ url('jd.modifiy', {id: jd.id}) }}"
                       class="btn btn-primary btn-sm"
                    >Modifier la Journée découverte</a>
                    <form method="post"
                          action="{{ path('jd.delete', {'id': jd.id}) }}"
                          onsubmit="return confirm('Are you sure you want to delete this item?');"
                    >
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jd.id) }}">
                        <button type="submit" class="btn btn-danger btn-sm">Supprimer la Journée découverte</button>
                    </form>
                {% endif %}

            {% elseif date(jd.date) > date() and app.user.nbPointsCompetence >= jd.niveauMinimum.minPoints %}
                {% if inscrit == true %}
                    <form method="post" action="{{ url('participation.delete', {jd: jd.id}) }}">
                        <button type="submit" class="btn btn-danger btn-sm">Se désinscrire</button>
                    </form>
                {% else %}
                    <a href="{{ url('participation.add', {jd: jd.id}) }}" class="btn btn-primary btn-sm">S'inscrire</a>
                {% endif %}
            {% endif %}
        {% else %}
            <a href="{{ url('participation.add', {jd: jd.id}) }}" class="btn btn-primary btn-sm">S'inscrire</a>
        {% endif %}
    </div>
{% endblock %}
